@font-face {
    font-family: 'Pacifico';
    src: url('../assets/fonts/Cookie-Regular.ttf') format('truetype');
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100vw, 0, 0);
    }
}


body {
    @apply text-default text-lg;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

.pacifico {
    font-family: 'Pacifico';
}